{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="content">
	<div class="wrap-content">
		<div class="row block">
			<div id="main-content" class="col-2-3">
				<div class="wrap-col">
					<article>
						<div class="heading">
							<h2><a href="#"></a>{{ category.name }}</h2>
						</div>
						{% if category %}
						{% if pages %}
				{% for page in pages%}
							<h3><a href="{% url 'goto' %}?page_id={{page.id}}">{{ page.title }}</a></h3>
				
						<div class="content">
							<img src=" /media/{{page.picture}}" width="50px"/>
							<p>{{page.context|truncatechars_html:30 | safe }}</p>
		
						</div>
						<div class="info">
							<p>{{page.time}}
							<a href="{% url 'goto' %}?page_id={{page.id}}">阅读全文</a></p>

						</div>
<HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#76D2C5 SIZE=3>
						{% endfor %}
						{% endif %}
						{% endif %}				
				</div>
			</div>
{% endblock %}