{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="content">
	<div class="wrap-content">
		<div class="row block">
			<div id="main-content" class="col-2-3">
				<div class="wrap-col">
					{% if page %}
					<article>
						<div class="heading">
							<h2><a href="#">{{ page.title }}</a></h2>
						</div>
						<div class="content">
							<img src=" /media/{{page.picture}}" width="100%"/>
							<p>{{ page.context }}</p>
						</div>
						<div class="info">
							<p>{{ page.time }}<a href="#">01 Commnets</a></p>
						</div>
					</article>
						</div>
			</div>
					{% endif %}
{% endblock %}			