{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>注册界面</title>
<link href="{% static "css/style2.css"%}" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<body>
<div class="login">
	<h2>Acced Form</h2>
	<div class="login-top">
		<h1>注册</h1>
		<form class="form-signin" role="form" method="post" action=".">
		{% csrf_token %}
			<input placeholder="Username" id="id_username" maxlength="254" name="username" type="text" required autofocus=""/>

			<input  placeholder="email" id="id_email" maxlength="254" name="email" type="text" required autofocus=""/>

			<input class="form-control" placeholder="Password" id="id_password1" name="password1" type="password" required/>

			<input class="form-control" placeholder="Password_agin" id="id_password2" name="password2" type="password" required/>
	    <div class="forgot">
    	<input type="submit" value="注册" >
	    </div>
	</div>
	</form>
	
</div>	

</body>
</html>